<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DivaSpa1DBxConnectionString" connectionString="Data Source=.;Initial Catalog=DivaSpa1DBx;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DivaSpa1DBxConnectionString" connectionString="Data Source=184.168.194.58;User ID=minh;Password=2468Test@@" providerName="System.Data.SqlClient Initial Catalog=DivaSpa1DBx;Integrated Security=True"
     />

  </connectionStrings>
  <system.web>
    <trust level="Full"/>
    <sessionState timeout="120"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Microsoft.Web.Delegation, Version=7.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Web.Deployment, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/cp/Error.html">
      <error statusCode="404" redirect="~/cp/Error.html"/>
    </customErrors>-->
    <customErrors mode="Off">
    </customErrors>
  </system.web>
  <appSettings>
    <add key="SecurityKey" value="SecurityCode@@2468"/>
  </appSettings>
</configuration>